@page "/DBTest"

@rendermode InteractiveServer

@inject Data.AppDbContext dbContext



<PageTitle>DBTest</PageTitle>

<body id="bodyy">
    <EditForm Model="@newPerson" OnValidSubmit="SubmitForm" id="EditForm">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="fname">First name:</label><br>
            <InputText id="fname" @bind-Value="newPerson.Name" class="form-control" />
            <ValidationMessage For="@(() => newPerson.Name)" />
        </div>

        <div class="form-group">
            <label for="lname">Last name:</label><br>
            <InputText id="lname" @bind-Value="newPerson.Lastname" class="form-control" />
            <ValidationMessage For="@(() => newPerson.Lastname)" />
        </div>

        <div class="form-group">
            <label for="PhoneNumberPrefix">Phone number Prefix:</label><br>
            <InputSelect id="PhoneNumberPrefix" @bind-Value="newPerson.PhoneNumberPrefix" class="form-control">
                <option value="+1">+1 (USA)</option>
                <option value="+44">+44 (UK)</option>
                <option value="+48">+48 (Polska)</option>
                <option value="+49">+49 (Niemcy)</option>
                <option value="+61">+61 (Australia)</option>
                <option value="+81">+81 (Japonia)</option>
                <option value="+86">+86 (Chiny)</option>
            </InputSelect>
            <ValidationMessage For="@(() => newPerson.PhoneNumberPrefix)" />
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Phone number:</label><br>

            <input type="text" id="PhoneNumber" @bind="newPerson.PhoneNumber" maxlength="9" class="form-control" />

            <ValidationMessage For="@(() => newPerson.PhoneNumber)" />
        </div>

        <div class="form-group">
            <label for="Email">Email:</label><br>
            <InputText id="Email" @bind-Value="newPerson.Email" class="form-control" />
            <ValidationMessage For="@(() => newPerson.Email)" />
        </div>



        <div class="form-group">
            <label for=" ReservationFrom ">ReservationFrom:</label><br>
            <InputDate id="ReservationFrom" @bind-Value="LocalReservationFrom" class="form-control"></InputDate>

        </div>


        <div class="form-group">
            <label for=" ReservationFrom ">ReservationFrom:</label><br>
            <InputDate id="ReservationFrom" @bind-Value="LocalReservationTo" class="form-control"></InputDate>

        </div>






        <div class="btn-block">
            <button type="submit" class="button btn btn-primary" style="background:#cc0052">Submit</button>
        </div>
    </EditForm>

    @if (saved)
    {
        <p style="font-size: 100px">Guest added</p>
    }
    @if (error)
    {
        <div style="font-size: 18px; color: red; border: 1px solid red; padding: 10px; border-radius: 5px;">
            Something went wrong: @errorMessage
        </div>
    }
</body>

@code {
    private Person newPerson = new Person();
    private bool saved = false;
    private bool error = false;
    private string errorMessage = string.Empty;
    private DateTime LocalReservationFrom = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    private DateTime LocalReservationTo = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    private async Task SubmitForm()
    {
        saved = false;
        error = false;

        try
        {
           
            dbContext.Guests.Add(newPerson);
            await dbContext.SaveChangesAsync();

            // Tworzymy nową rezerwację
            var newReservation = new Reservation
                {
                    GuestID = newPerson.GuestID,
                    Name = newPerson.Name,
                    Lastname = newPerson.Lastname,
                    Email = newPerson.Email,
                    PhoneNumberPrefix = newPerson.PhoneNumberPrefix,
                    PhoneNumber = newPerson.PhoneNumber,
                    ReservationDate = DateTime.Now,
                    Paid = false,
                    ReservationTo = LocalReservationTo,
                    ReservationFrom = LocalReservationFrom
                };

           
            dbContext.NewReservations.Add(newReservation);
            await dbContext.SaveChangesAsync();

            newPerson = new Person();
            saved = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}\nInner Exception: {ex.InnerException?.Message}\nStackTrace: {ex.StackTrace}";
            error = true;
        }
    }
}

<style>
    #bodyy{
        height:calc(100vh - 97.6px)
    }
    #EditForm{
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 10px 0 #cc0052;
    }

    .btn-block {
        margin-top: 10px;
        text-align: center;
    }

    btn {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc0052;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

        btn:hover {
            /* background: #ff0066; */
            background: #ff2211;
        }

    .form-control {
        max-width: 100%;
        width: auto;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

</style>
