@page "/galleryPL"

@rendermode InteractiveServer

<body class="gallery-page">

    <div style=" transition: opacity 0.9s ease-in-out; width: 100%; position:absolute; display:flex;  justify-content:space-between;  left:0px; top:50%">

        <div id="NextImgButton" style="transition: opacity 0.3s ease-in-out; z-index:1; background-color:transparent;     position:relative; height:5vw; width:5vw; left:100px; ">

            <button @onmouseover="ShowButtons" @onmouseout="HideButtons" class="@(showButtons ? "visible" : "hidden")" id="button-left" @onclick="Increment" style=" transition: opacity 0.3s ease-in-out;background-color:transparent; backdrop-filter:@(showButtons ? "blur(10px)" : "none"); object-fit: contain; width: 100%; height: 100%; background-image: url('/Images/arrow-left-solid.svg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            </button>

        </div>

        <div id="NextImgButton" style="transition: opacity 0.3s ease-in-out; z-index:1; background-color:transparent;  ; position:relative; height:5vw; width:5vw; right:100px; ">

            <button @onmouseover="ShowButtons" @onmouseout="HideButtons" class="@(showButtons ? "visible" : "hidden")" id="button-right" @onclick="Decrement" style="transition: opacity 0.5s ease-in-out; background-color:transparent; backdrop-filter:@(showButtons ? "blur(10px)" : "none"); object-fit: contain; width: 100%; height: 100%; background-image: url('/Images/arrow-right-solid.svg'); background-size: cover; background-repeat: no-repeat; background-position: center;">

            </button>

        </div>

    </div>

    <div @onmouseover="ShowButtons" @onmouseout="HideButtons" class="fullscreen-container" style=" display: block; z-index:2; ">

        <img id="zdj1" class="fullscreen-image @(x == 0 ? "visible" : "hidden")"  src="/Images/gora.jpg" alt="Obraz w proporcjach 16:9">
        <img id="zdj2" class="fullscreen-image @(x == 1 ? "visible" : "hidden")"  src="/Images/zdj1.jpg" alt="Obraz w proporcjach 16:9">
        <img id="zdj3" class="fullscreen-image @(x == 2 ? "visible" : "hidden")"  src="/Images/zdj2.jpg" alt="Obraz w proporcjach 16:9">
        <img id="zdj4" class="fullscreen-image @(x == 3 ? "visible" : "hidden")"  src="/Images/zdj3.jpg" alt="Obraz w proporcjach 16:9">
        <img id="zdj5" class="fullscreen-image @(x == 4 ? "visible" : "hidden")"  src="/Images/zdj4.jpg" alt="Obraz w proporcjach 16:9">
        <img id="zdj6" class="fullscreen-image @(x == 5 ? "visible" : "hidden")"  src="/Images/paper.jpg" alt="Obraz w proporcjach 16:9">

    </div>

    

</body>

<style>
    .fullscreen-container {
    width: 100vh;
    height: calc(100vh - 97.6px);
    }

    .fullscreen-image {
    top: 0;
    left: 0;
    width: 100%;
        height: 100%;
    object-fit: fill; 
    transition: opacity 1s ease-in-out; 
    opacity: 0; 
    position: absolute;
    }

    

            #NextImgButton{
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
            }

    .visible {
    opacity: 1; 
    }

    .hidden {
    opacity: 0; 
    }


</style>

@code {
    private int x = 0;
    private int y = 0;
    private bool showButtons = false;

    private void Increment()

    {
        y = 1;
        x++;
        if (x > 5) { x = 0; }
        timer.Stop();
        timer.Start();
    }
    private void Decrement()
    {
        y = 1;
        x--;
        if (x < 0) { x = 5; }
        timer.Stop();
        timer.Start();
    }


    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer(10000);
        timer.Elapsed += (sender, args) =>
        {
            y = 0;
            x++;
            if (x > 5) { x = 0; }
            
            InvokeAsync(StateHasChanged);
        };
        timer.Start();
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

    private void ShowButtons()
    {
        showButtons = true;
        InvokeAsync(StateHasChanged);
    }

    private void HideButtons()
    {
        showButtons = false;
        InvokeAsync(StateHasChanged);
    }


}

